body{
	background-color: lightblue;
}


/* This is for the main content of the page */
#main_container{
	width:67.5vw;
	float: left;
}

/* This is for the listing containers and its children */
#listing_container{
	margin: 0px;
}

.item{
	background-color: #CBF7FF;
	margin-left: 5px;
	margin-right: 5px;
	padding: 3px;
}

.map{
	height: 400px;
	width: 100%;
	margin: 0px;
}


/* This is for the main menu container */
#menu_container{
	float:left;
	margin: 0px;
	background-color: #1DA5FF;
	width: 12%;
}

/* This is for the ad space containers */