body{
	background-color: #F5F6CE;
	background-image: url("../pics/white_wood.jpg");
}

button{
	border-style: none;
	background-color: #d40d0d; /*#F5F6CE;*/
	padding: 15px;
	color: #F5F6CE;

}


/* temporary style for the map */
#map{
	margin-top: 5px;
	width: 75%;
	height: 600px;
	border: 2px solid black;
}

/* Listings Style */
#listings_container{
	margin: 0;
}

#listings_header{
	background-color: #d40d0d;
	color: #F5F6CE;
	width: 75%;
}